.electronics,
.jewelery,
.mensclothing,
.womensclothing{
object-fit: cover;
background-size: 115% 100%;
border-radius: 10px;
}

.electronics{
background-image: url(../img/electronics.jpg);
}

.jewelery{
  background-image: url(../img/jewelery.jpg);
}

.mensclothing{
  background-image: url(../img/mensclothing.jpg);

}

.womensclothing{
  background-image: url(../img/womensclothing.jpg);
}