body{
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
}



header{
  display: flex;
  justify-content: space-between;
  background: #edae49;
  color: #202020;
  font-family: 'Montserrat', 'sans-serif';
  height: 10vh;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.header__title{
  margin: 1em;
  font-weight: 400;
}

.header__first__link{
  position: absolute;
  left: 40%;
}

.cart__icon{
  margin-right: 2em;
  font-size: 1.5rem;
}


.header__nav{
  display: flex;
  list-style: none;
  align-self: center;
  padding: 0 0.3em;
}

li{
  padding: 0.5em;
  font-weight: 500;
  font-size: 0.9rem;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  background: #edae49;
}

.item__container{
  position: relative;
  border: 1px solid #D3D3D3;
  background: white;
  border-radius: 10px;
  width: 25%;
  padding: 0 1em 1em 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.item__img{
  object-fit: cover;
  max-width: 250px;
  max-height: 200px;
  padding: 1em;
}

.item__star{
  color: yellow;
}

.item__price{
  margin: 0;
}
.item__info{
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.item__title{
  font-size: 0.9rem;
}

.item__button{
  border: none;
  background: #edae49;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 600;
}


.cart__item{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 2em;
  border-bottom: 1px solid #d3d3d3;
}

.cart__img{
  height: 100%;
  padding: 1em;
}

.delete__item{
  position: absolute;
  bottom: 2em;
  right: 2em;
  cursor: pointer;
}

.home{
  background-image: url("img/main.jpg");
  height: 90vh;
  background-size: cover;
  background-position: 50% 100%;
}

.home__info{
  padding: 1em 6em;
}

.home__title{
  margin-bottom: 1em;
  color: #edae49;
  font-size: 4rem;
  letter-spacing: 3px;
}

#btn,
.checkout__btn{
  position: relative;
  text-decoration: none;
  color: inherit;
  border: none;
  background: #edae49;
  padding: 1em 2em;
  font-family: inherit;
  border-radius: 10px;
  font-weight: bold;
  transition: transform .2s;
  display: inline-block;
  cursor: pointer;
}

#btn:hover,
.checkout__btn:hover{
  transform: scale(1.1);

}

.cart__total{
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link{
  text-decoration: none;
  color: inherit;
  transition: transform .2s;
}

.link:hover{
  transform: scale(1.1);

}


.parent__categories{
  display: flex;
  justify-content: center;
  text-align: center;
}

.categories{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 5em;
  margin: 2em;
}

.category{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

.cartAdd{
  margin: 0.4em;
  background: transparent;
  border: 2px solid #edae49;
  border-radius: 4px;
  padding: 0.3em 0.7em;
}

@media(max-width: 1150px){

  .header__nav{
    display: none;
    padding: 0;
    margin: 0;
  }

  header{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: auto;
  } 

  .header__first__link{
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
  }

  .cart__icon{
    margin: 1em;
  }

  .home{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

  }

  .home__info{
    padding: 7em 0 0 0;
  }
  
  .home__title{
      font-size: 2rem;
      padding-bottom: 2em;
      margin: 0;
  }

  .categories{
    display: flex;
    flex-direction: column;
  }

  .category{
    width: 100%;
  }

  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .item__container{
    width: auto;
    margin: 1em 0;
  }

  .cart__item{
    height: auto;
  }

  .cart__img{
    height: 100%;
  }

  .cart__elements{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}