body{
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.item__container{
  position: relative;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  width: 25%;
  padding: 0 1em 1em 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.item__img{
  object-fit: cover;
  max-width: 250px;
  max-height: 200px;
  padding: 1em;
}

.item__star{
  color: yellow;
}

.item__price{
  margin: 0;
}
.item__info{
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  justify-content: space-around;
  align-items: center;
}

.item__title{
  font-size: 0.9rem;
}

.item__button{
  border: none;
  background: #edae49;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-family: inherit;
}

.item__favorite{
  color: red;
  position: absolute;
  top: 1em;
  right: 1em;
}

.cart__item{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 2em;
  border-bottom: 1px solid #d3d3d3;
}

.cart__img{
  height: 100%;
  padding: 1em;
}

.delete__item{
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.home{
  background-image: url("img/main.jpg");
  height: 90vh;
  background-size: cover;
  background-position: 50% 100%;
}

.home__info{
  padding: 1em 6em;
}

.home__title{
  margin-bottom: 1em;
  color: #edae49;
  font-size: 4rem;
}

.btn{
  text-decoration: none;
  color: inherit;
  border: none;
  background: #edae49;
  padding: 1em 2em;
  font-family: inherit;
  border-radius: 10px;
  font-weight: bold;
}

.cart__total{
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

