header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background: #edae49;
    color: #202020;
    font-family: 'Roboto', 'sans-serif';
  }
  
  .header__title{
    margin: 1em;
  }

  .cart__icon{
    padding: 1em;
    font-size: 1.5rem;
  }

  .link{
    text-decoration: none;
    color: inherit;
  }

 
  