header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background: #679436;
    color: #EBF2FA;
    font-family: 'Montserrat', 'sans-serif';
  }
  
  .header__title{
    margin: 1em;
  }

  .cart__icon{
    padding: 1em;
  }

  .link{
    text-decoration: none;
    color: inherit;
  }

 
  